.body {
    min-height: 5vh;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background: radial-gradient(90.16% 143.01% at 15.32% 21.04%, rgba(10, 13, 47, 0.2) 0%, rgba(14, 14, 58, 0.2) 77.08%, rgba(25, 26, 54, 0.2) 100%);
    background-blend-mode: overlay;
    backdrop-filter: blur(40px);
    border-bottom: 1px solid rgba(0, 2, 9, 0.5);
    padding: 1.25% 7%;
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0; 
    z-index: 2;
}

.body h1 {
    color: #147BF3; 
    font-size: 32px;
    font-weight: 900;
    margin: 0; 
}

.body ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
}

.body ul li {
    padding: 0 20px; 
    text-align: center;
}

.body ul li a {
    color: #ffffff;
    text-decoration: none; 
    transition: color 0.3s ease; 
}

.body ul li a:hover {
    color: #147BF3;
}
